<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration/>

  <!-- ref: https://docs.nunit.org/articles/vs-test-adapter/Tips-And-Tricks.html -->
  <NUnit>
    <DisplayName>FullName</DisplayName>
    <!-- <DisplayName>FullName</DisplayName> -->

    <!-- workaround for VS2019 test case filter issue -->
    <!-- ref: https://github.com/nunit/nunit3-vs-adapter/issues/782 -->
    <UseParentFQNForParametrizedTests>true</UseParentFQNForParametrizedTests>
    <UseNUnitIdforTestCaseId>true</UseNUnitIdforTestCaseId>
  </NUnit>
</RunSettings>
