# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"
# cSpell:ignore prevver,pwsh
# cSpell:words pullrequest,releasenote,unreleasable,unmatch

name: _DEPRECATED_ Generate release target (reusable workflow)
run-name: _DEPRECATED_ Generate release target for ${{ inputs.release_target_tag_name }}

permissions: {}

on:
  workflow_call:
    inputs:
      release_target_tag_name:
        description: "The tag name of the release target."
        required: true
        type: string

      release_target_tag_prefix:
        description: "The common prefix of the release target tag name."
        required: false
        type: string
        default: "new-release/"

      release_target_pr_label:
        description: "The label to set for the pull request of the release target"
        required: false
        type: string
        default: "release-target"

      release_tag_prefix:
        description: "The common prefix of the release tag name."
        required: false
        type: string
        default: "releases/"

      path_prefix_source:
        description: "The common prefix of the path to source directory of the release target based on the repository root."
        required: false
        type: string
        default: "src/"

      path_prefix_apilist:
        description: "The common prefix of the path to API list directory of the release target based on the repository root."
        required: false
        type: string
        default: "doc/api-list/"

      workflow_runs_on:
        description: "The OS label which run the workflow on. (ubuntu-latest, ubuntu-24.04, ubuntu-22.04, etc.)"
        required: false
        type: string
        default: "ubuntu-latest"

      dotnet_sdk_version:
        description: "The minimum .NET SDK version which is used to generate the release target."
        required: false
        type: string
        default: '8.0.100'

      use_project_assets_sdk:
        description: "If true, enables processing that uses project assets importing as MSBuild Project SDK."
        required: false
        type: boolean
        default: true

      dry_run:
        description: "If true, performs a trial run."
        required: false
        type: boolean
        default: false

    secrets:
      token_repo:
        description: 'The token which is used to checkout code.'
        required: true

      token_pullrequest:
        description: 'The token which is used to open a pull request for the new release.'
        required: true

      token_gist:
        description: 'The token which is used to create release notes onto gist.'
        required: true

jobs:
  notice-deprecated:
    runs-on: ubuntu-slim

    steps:
      - name: Use the workflow from 'smdn/workflows-dotnet' instead.
        shell: pwsh
        run: |
          "::error::This workflow has been deprecated. Use 'smdn/workflows-dotnet/.github/workflows/generate-release-target.yml' instead."
          exit 1
