# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"
# cSpell:ignore pwsh

name: Manage NuGet package caches

on:
  workflow_dispatch:

env:
  # cSpell:disable
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  # cSpell:enable

jobs:
  manage-nuget-package-caches:
    runs-on: ubuntu-latest

    steps:
    - name: Set NUGET_PACKAGES
      id: set-nuget-packages
      shell: pwsh
      run: |
        $path_to_nuget_packages =[System.IO.Path]::Combine(
          '${{ github.workspace }}',
          '.nuget',
          'packages'
        )

        "::notice::NUGET_PACKAGES=${path_to_nuget_packages}"

        "NUGET_PACKAGES=${path_to_nuget_packages}" >> $Env:GITHUB_ENV
        "path-to-nuget-packages=${path_to_nuget_packages}" >> $Env:GITHUB_OUTPUT

    - name: Setup NuGet cache
      # ref: https://github.com/actions/cache/blob/master/examples.md#c---nuget
      uses: actions/cache@v5.0.1
      with:
        path: ${{ steps.set-nuget-packages.outputs.path-to-nuget-packages }}
        key: test-NuGetPackages-${{ runner.os }}

    - name: List NuGet packages
      run: |
        ls -1 ${NUGET_PACKAGES}/*
