# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2025 smdn <smdn@smdn.jp>"
# cSpell:ignore pwsh

name: _DEPRECATED_ Wait for NuGet package publishing (reusable workflow)
run-name: _DEPRECATED_ Wait for NuGet package publishing for ${{ inputs.release_tag }}

permissions: {}

on:
  workflow_call:
    inputs:
      release_tag:
        description: "The name of the tag for the release."
        required: true
        type: string

      release_tag_prefix:
        description: "The common prefix of the release tag name."
        required: false
        type: string
        default: "releases/"

      timeout_minutes:
        description: "The timeout minutes for waiting for package publishing."
        required: false
        type: number
        default: 15

      update_interval_seconds:
        description: "The interval for retrieving package status, in seconds."
        required: false
        type: number
        default: 30

      package_source:
        description: "The URL that is the base address for API requests for NuGet package information."
        required: false
        type: string
        default: "https://api.nuget.org/v3/index.json"

jobs:
  notice-deprecated:
    runs-on: ubuntu-slim

    steps:
      - name: Use the workflow from 'smdn/workflows-dotnet' instead.
        shell: pwsh
        run: |
          "::error::This workflow has been deprecated. Use 'smdn/workflows-dotnet/.github/workflows/nuget-await-package-publishing.yml' instead."
          exit 1
