# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"
#cSpell:ignore apikey,commitish,pwsh,prevver,releasenote,releasenotes

name: _DEPRECATED_ Publish release (reusable workflow)
run-name: _DEPRECATED_ Publish release for '${{ inputs.release_tag }}'

permissions: {}

on:
  workflow_call:
    inputs:
      workflow_runs_on:
        description: "The OS label which run the workflow on. (ubuntu-latest, ubuntu-24.04, ubuntu-22.04, etc.)"
        required: false
        type: string
        default: "ubuntu-latest"

      release_tag:
        description: "The name of the tag for the release to be created."
        required: true
        type: string

      release_note_url:
        description: "The URL of Gist where the release note for the package has been published."
        required: true
        type: string

      release_prerelease:
        description: "The boolean value that indicates whether the release should be published as a prerelease or not."
        required: false
        type: boolean
        default: false

      release_draft:
        description: "The boolean value that indicates whether the release should be published as a draft or not."
        required: false
        type: boolean
        default: false

      package_id:
        description: "The ID of the released package."
        required: true
        type: string

      package_version:
        description: "The version of the released package in SemVer format."
        required: true
        type: string

      package_branch:
        description: "The name of the branch from which the released package was generated."
        required: true
        type: string

      package_prevver_tag:
        description: "The name of the tag that identifies the previous version of the released package."
        required: false
        type: string
        default: ''

      package_available_nuget_org:
        description: "The boolean value that indicates whether the released package has been pushed to NuGet.org or not."
        required: false
        type: boolean
        default: false

      dry_run:
        description: "If true, performs a trial run."
        required: false
        type: boolean
        default: false

    secrets:
      token_gist:
        description: 'The token which is used to view release note files from Gist.'
        required: true

      token_new_release:
        description: 'The token which is used to publish a new release.'
        required: true

jobs:
  notice-deprecated:
    runs-on: ubuntu-slim

    steps:
      - name: Use the workflow from 'smdn/workflows-dotnet' instead.
        shell: pwsh
        run: |
          "::error::This workflow has been deprecated. Use 'smdn/workflows-dotnet/.github/workflows/publish-release.yml' instead."
          exit 1
