# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"
#cSpell:ignore apikey,dawidd6,pwsh,prevver,shipit,unshallow

name: _DEPRECATED_ Publish release target (reusable workflow)
run-name: _DEPRECATED_ Publish release target (Release PR \#${{ inputs.pr_number_request_for_release }})

permissions: {}


on:
  workflow_call:
    inputs:
      pr_number_request_for_release:
        description: "The number of pull request that requests to merge the release working branch."
        required: true
        type: number

      pr_label_request_for_release:
        description: "The label which indicating that the PR requests to merge the release working branch."
        required: false
        type: string
        default: ''

      workflow_runs_on:
        description: "The OS label which run the workflow on. (ubuntu-latest, ubuntu-24.04, ubuntu-22.04, etc.)"
        required: false
        type: string
        default: "ubuntu-latest"

      dotnet_sdk_version:
        description: "The minimum .NET SDK version which is used to publish the release target."
        required: false
        type: string
        default: '8.0.100'

      dry_run:
        description: "If true, performs a trial run."
        required: false
        type: boolean
        default: false

    secrets:
      token_repo:
        description: 'The token which is used to checkout code, view pull request of release target, download artifact from the precedent workflow, and create a new release.'
        required: true

      token_push_nuget_org:
        description: 'The token which is used to push a package to nuget.org.'
        required: false

      token_push_github_packages:
        description: 'The token which is used to push a package to GitHub Packages.'
        required: false

jobs:
  notice-deprecated:
    runs-on: ubuntu-slim

    steps:
      - name: Use the workflow from 'smdn/workflows-dotnet' instead.
        shell: pwsh
        run: |
          "::error::This workflow has been deprecated. Use 'smdn/workflows-dotnet/.github/workflows/publish-release-target.yml' instead."
          exit 1
