# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"
#cSpell:ignore apikey,pwsh,VSTest

name: _DEPRECATED_ Run tests (reusable workflow)

permissions: {}

# ref: https://docs.microsoft.com/en-us/dotnet/devops/dotnet-test-github-action
on:
  workflow_call:
    inputs:
      project:
        description: "The project name to run the test."
        required: false
        type: string

      os:
        description: "The OS label which run the test on. (ubuntu-24.04, ubuntu-22.04, windows-latest, macos-latest, etc.)"
        required: false
        type: string

      dotnet_sdk_version:
        description: "The minimum .NET SDK version which is used to run tests."
        required: false
        type: string
        default: '10.0.100'

      path_prefix_tests:
        description: "The common prefix of the path to test projects' root directory based on the repository root."
        required: false
        type: string
        default: "tests/"

      path_prefix_source:
        description: "The common prefix of the path to source directory based on the repository root."
        required: false
        type: string
        default: "src/"

      path_proj_install_project_assets:
        description: "The path to the .NET project file that will install the project assets and/or the dependencies required for the build."
        required: false
        type: string
        default: "eng/InstallProjectAssets.proj"

      use_project_assets_sdk:
        description: "If true, enables processing that uses project assets importing as MSBuild Project SDK."
        required: false
        type: boolean
        default: true

      timeout_minutes_test_job:
        description: "The timeout minutes for each test jobs."
        required: false
        type: number
        default: 10

      timeout_hang:
        description: "The value to be set to option `--blame-hang-timeout`. (example: `[{'OS':'Windows','Timeout':'5min'},{'OS':'','Timeout':'3min'}]`)"
        required: false
        type: string
        default: ''

      timeout_vstest_connection:
        description: "The value to be set to VSTEST_CONNECTION_TIMEOUT. (example: `[{'OS':'Windows','Timeout':180},{'OS':'','Timeout':60}]`)"
        required: false
        type: string
        default: ''

      extra_options_common:
        description: "The common extra options to be set on running the `dotnet restore/build/test` command."
        required: false
        type: string
        default: ''

      dotnet_build_options_enable_concurrent_build:
        description: "If false, disables concurrent project build."
        required: false
        type: boolean
        default: true

      dotnet_test_options_verbosity_level:
        # cSpell:disable-next-line
        description: "The argument to be set to the `--verbosity <LEVEL>` option of the `dotnet test` command. <LEVEL> := q[uiet], m[inimal], n[ormal], d[etailed], diag[nostic]"
        required: false
        type: string
        default: ''

      dotnet_test_options_framework:
        description: "The argument to be set to the `--framework <FRAMEWORK>` option of the `dotnet test` command."
        required: false
        type: string
        default: ''

      dotnet_test_options_filter_expression:
        description: "The argument to be set to the `--filter <EXPRESSION>` option of the `dotnet test` command."
        required: false
        type: string
        default: ''

      dotnet_test_options_output_verbosity_level:
        description: "The argument to be set to the `--output <VERBOSITY_LEVEL>` option of the `dotnet test` command."
        required: false
        type: string
        default: ''

      verbose:
        description: "If true, enables verbose output."
        required: false
        type: boolean
        default: false

    secrets:
      token_repo:
        description: 'The token which is used to checkout code.'
        required: true

jobs:
  notice-deprecated:
    runs-on: ubuntu-slim

    steps:
      - name: Use the workflow from 'smdn/workflows-dotnet' instead.
        shell: pwsh
        run: |
          "::error::This workflow has been deprecated. Use 'smdn/workflows-dotnet/.github/workflows/test.yml' instead."
          exit 1
